.modalContent {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 1000;
}

.containerHeder{
 display: flex;
  margin-bottom: 24px;
  flex-direction: row-reverse;
}

.btn{
  padding: 6px;
  background: none;
  cursor: pointer;

  stroke: var(--main);

  & :hover {
    stroke: var(--text);
  }  
}