.container{
border: 1px solid #dadde1;
border-radius: 10px;
padding: 44px;
width: 641px;
height: 588px;
}

.title{
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: var(--main);
margin-bottom: 8px;
}

.text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--text);
margin-bottom: 24px;
}

.form{
  text-align: center;
}

.fieldform{

}

.input{
  border-radius: 12px;
  padding: 18px;
  width: 100%;
  background: var(--inputs);
  border: none;
  margin-bottom: 14px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
}
textarea.input {
  width: 527px;
  height: 118px;
  resize: none;
  margin-bottom: 24px;
}

.errorMess{
 font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--button);
  margin-bottom: 10px;
  text-align: left;
}


.btn {
  letter-spacing: -0.01em;
  color: var(--white);
  font-size: 16px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  margin-top: 40px;

  text-align: center;
  background-color: var(--button);
}

.btn:hover {
  background: var( --button-hover);
}