.container{
display: flex;
border: 1px solid var(--gray-light);
border-radius: 20px;
padding: 24px;
width: 888px;
height: 368px;
}

.wrapperForImage{
border-radius: 10px;
width: 100%;
height: 320px;
margin-right: 24px;
position: relative;
overflow: hidden;
}

.image{
width: 100%;
  height: 320px; 
  object-fit: cover; 
  display: block;
position: absolute;
}

.containerDescr{
width: 524px;

}

.header{
display: flex;
justify-content: space-between;
font-weight: 600;
font-size: 24px;
line-height: 1.3;
color: var(--main);
margin-bottom: 8px;
}

.title{
font-size: 24px;
}
.containerPrice{
display: flex;
}

.icon{
background: none;
color: var(--main);
padding: 0;
}
.icon:hover{
color: var(--button);
}
.addFavorite {
  background: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorite{
   color: var(--button); 
   
}
.text{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 525px;
  margin-bottom: 24px;
}


.link{
  display: block;
  letter-spacing: -0.01em;
  color: var(--white);

  padding: 16px;
  border-radius: 200px;
  width: 166px;

  text-align: center;
  background-color: var(--button);
}
.link:hover {
  background-color: var(--button-hover);
}